
\.DS_Store

\.vscode/settings\.json

__pycache__/generator_training_test\.cpython-35\.pyc

rocket_deepl/__pycache__/module\.cpython-35\.pyc

rocket_deepl/__pycache__/

rocket_deepl/core/__pycache__/
